<section class="hero">
    <div class="container">
        <h2 class="hero-title">Hero title</h2>
        <img src="/img/vite-logo.png" alt="logo" weight="50" height="50">
        <p class="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente dolorum accusantium impedit eos odio, error eligendi omnis necessitatibus, architecto ipsam explicabo itaque tenetur laudantium ad repudiandae ipsum repellat recusandae!</p>

        <ul>
        <li><a href="#hero-title" class="hero-link">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit non deserunt, molestias repellendus suscipit adipisci fugit fuga eos facere dignissimos odit debitis, ipsum perspiciatis quas laboriosam explicabo vel provident ab.</a></li>
        <li class="hero-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis asperiores eligendi voluptates repudiandae maxime esse porro magni hic, vel earum, iste quo ipsum quibusdam modi laudantium excepturi cumque quae quos.</li>
        <li class="hero-list-item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel natus atque dolores reprehenderit enim nisi suscipit hic ad perspiciatis neque? Dicta quas obcaecati ab. Nam corporis blanditiis perspiciatis cum beatae!</li>
    </ul>
    <ol>
        <li><a href="#hero-title" class="hero-link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum molestiae sint impedit ipsum. Similique quis distinctio id molestiae maiores omnis ut cupiditate corporis. Culpa expedita iure cupiditate? Aspernatur, quibusdam! Saepe!</a></li>
        <li class="hero-list-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci itaque animi velit accusantium tempore nesciunt, deleniti modi ipsum illum tenetur repudiandae magni aliquam ipsam neque est sequi consequatur tempora in!</li>
        <li class="hero-list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos blanditiis in ut laudantium voluptate exercitationem optio voluptates corrupti provident vero! Veniam possimus harum reiciendis sequi dignissimos necessitatibus quisquam ea dolorum!</li>
    </ol>
    </div>
    
</section>
